In [12]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [23]:
df_ac = pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/Results/ActorCritic.csv")
df_wsls =pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/Results/WSLS.csv")
df_greedy=pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/Results/Greedy.csv")
df_sarsa=pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/Results/SARSA.csv")
df_qlearn=pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/Results/QLearn.csv")
df_reinforce=pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/Results/Reinforce.csv")
df_naive=pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/Results/Naive.csv")
df_momentum=pd.read_csv('/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/Results/Momentum.csv')
df_random=pd.read_csv('/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/Results/Random.csv')

In [24]:
# Add a new column to each dataframe with the name of the dataframe
df_ac['Algo'] = 'ActorCritic'
df_wsls['Algo'] = 'WSLS'
df_greedy['Algo'] = 'Greedy'
df_sarsa['Algo'] = 'SARSA'
df_qlearn['Algo'] = 'QLearn'
df_reinforce['Algo'] = 'Reinforce'
df_naive['Algo'] = 'Naive'
df_momentum['Algo'] = 'Momentum'
df_random['Algo'] = 'Random'

# Add a new column to each dataframe to keep track of the original index
df_ac['original_dataframe_index'] = range(len(df_ac))
df_wsls['original_dataframe_index'] = range(len(df_wsls))
df_greedy['original_dataframe_index'] = range(len(df_greedy))
df_sarsa['original_dataframe_index'] = range(len(df_sarsa))
df_qlearn['original_dataframe_index'] = range(len(df_qlearn))
df_reinforce['original_dataframe_index'] = range(len(df_qlearn))
df_naive['original_dataframe_index'] = range(len(df_naive))
df_momentum['original_dataframe_index'] = range(len(df_momentum))
df_random['original_dataframe_index'] = range(len(df_random))

# Combine the dataframes into one
df_combined = pd.concat([df_ac, df_wsls, df_greedy, df_sarsa, df_qlearn,df_reinforce,df_naive,df_momentum,df_random])

# Reset the index of the combined dataframe
df_combined = df_combined.reset_index(drop=True)

In [25]:
df_combined.tail(20)

,Algorithm,User,Threshold,LearningRate,Discount,Temperature,Accuracy,StateAccuracy,Algo,original_dataframe_index,Epsilon,Reward
1580,Momentum,U_8,0.05,0.0,0.0,NaN,0.578947,"[0.7, 0.5434782608695652, 0.6]",Momentum,180,NaN,0.0
1581,Momentum,U_8,0.10,0.0,0.0,NaN,0.597222,"[0.7, 0.6428571428571429, 0.45]",Momentum,181,NaN,0.0
1582,Momentum,U_8,0.20,0.0,0.0,NaN,0.593750,"[0.6, 0.6111111111111112, 0.5555555555555556]",Momentum,182,NaN,0.0
1583,Momentum,U_8,0.30,0.0,0.0,NaN,0.589286,"[0.7, 0.5, 0.6666666666666666]",Momentum,183,NaN,0.0
1584,Momentum,U_8,0.40,0.0,0.0,NaN,0.562500,"[0.7, 0.44, 0.6923076923076923]",Momentum,184,NaN,0.0
1585,Momentum,U_8,0.50,0.0,0.0,NaN,0.564103,"[0.7777777777777778, 0.4117647058823529, 0.615...",Momentum,185,NaN,0.0
1586,Momentum,U_8,0.60,0.0,0.0,NaN,0.451613,"[0.5, 0.36363636363636365, 0.5]",Momentum,186,NaN,0.0
1587,Momentum,U_8,0.70,0.0,0.0,NaN,0.652174,"[0.75, 0.5, 0.7142857142857143]",Momentum,187,NaN,0.0
1588,Momentum,U_8,0.80,0.0,0.0,NaN,0.733333,"[0.75, 0.6, 0.8333333333333334]",Momentum,188,NaN,0.0
1589,Momentum,U_8,0.90,0.0,0.0,NaN,0.714286,"[0, 0.0, 0.8333333333333334]",Momentum,189,NaN,0.0
1590,Momentum,U_9,0.05,0.0,0.0,NaN,0.495238,"[0.34615384615384615, 0.5344827586206896, 0.57...",Momentum,190,NaN,0.0
1591,Momentum,U_9,0.10,0.0,0.0,NaN,0.494949,"[0.38461538461538464, 0.5454545454545454, 0.5]",Momentum,191,NaN,0.0
1592,Momentum,U_9,0.20,0.0,0.0,NaN,0.454545,"[0.5217391304347826, 0.425531914893617, 0.4444...",Momentum,192,NaN,0.0
1593,Momentum,U_9,0.30,0.0,0.0,NaN,0.428571,"[0.4, 0.4444444444444444, 0.4117647058823529]",Momentum,193,NaN,0.0
1594,Momentum,U_9,0.40,0.0,0.0,NaN,0.409091,"[0.3333333333333333, 0.43243243243243246, 0.42...",Momentum,194,NaN,0.0
1595,Momentum,U_9,0.50,0.0,0.0,NaN,0.425926,"[0.38461538461538464, 0.42857142857142855, 0.4...",Momentum,195,NaN,0.0
1596,Momentum,U_9,0.60,0.0,0.0,NaN,0.534884,"[0.45454545454545453, 0.5714285714285714, 0.54...",Momentum,196,NaN,0.0
1597,Momentum,U_9,0.70,0.0,0.0,NaN,0.500000,"[0.5, 0.46153846153846156, 0.5454545454545454]",Momentum,197,NaN,0.0
1598,Momentum,U_9,0.80,0.0,0.0,NaN,0.523810,"[0.6, 0.25, 0.75]",Momentum,198,NaN,0.0
1599,Momentum,U_9,0.90,0.0,0.0,NaN,0.700000,"[0, 0.5, 0.8333333333333334]",Momentum,199,NaN,0.0

In [26]:
def update_array_column(arr):
    return np.where(arr == 0, 1, arr)

In [21]:

df_combined['StateAccuracy'] = df_combined['StateAccuracy'].apply(lambda arr: [1 if x == 0 else x for x in arr])

In [22]:
df_combined.tail(20)

,Algorithm,User,Threshold,LearningRate,Discount,Temperature,Accuracy,StateAccuracy,Algo,original_dataframe_index,Epsilon,Reward
1580,Momentum,U_8,0.05,0.0,0.0,NaN,0.578947,"[[, 0, ., 7, ,, , 0, ., 5, 4, 3, 4, 7, 8, 2, ...",Momentum,180,NaN,0.0
1581,Momentum,U_8,0.10,0.0,0.0,NaN,0.597222,"[[, 0, ., 7, ,, , 0, ., 6, 4, 2, 8, 5, 7, 1, ...",Momentum,181,NaN,0.0
1582,Momentum,U_8,0.20,0.0,0.0,NaN,0.593750,"[[, 0, ., 6, ,, , 0, ., 6, 1, 1, 1, 1, 1, 1, ...",Momentum,182,NaN,0.0
1583,Momentum,U_8,0.30,0.0,0.0,NaN,0.589286,"[[, 0, ., 7, ,, , 0, ., 5, ,, , 0, ., 6, 6, ...",Momentum,183,NaN,0.0
1584,Momentum,U_8,0.40,0.0,0.0,NaN,0.562500,"[[, 0, ., 7, ,, , 0, ., 4, 4, ,, , 0, ., 6, ...",Momentum,184,NaN,0.0
1585,Momentum,U_8,0.50,0.0,0.0,NaN,0.564103,"[[, 0, ., 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...",Momentum,185,NaN,0.0
1586,Momentum,U_8,0.60,0.0,0.0,NaN,0.451613,"[[, 0, ., 5, ,, , 0, ., 3, 6, 3, 6, 3, 6, 3, ...",Momentum,186,NaN,0.0
1587,Momentum,U_8,0.70,0.0,0.0,NaN,0.652174,"[[, 0, ., 7, 5, ,, , 0, ., 5, ,, , 0, ., 7, ...",Momentum,187,NaN,0.0
1588,Momentum,U_8,0.80,0.0,0.0,NaN,0.733333,"[[, 0, ., 7, 5, ,, , 0, ., 6, ,, , 0, ., 8, ...",Momentum,188,NaN,0.0
1589,Momentum,U_8,0.90,0.0,0.0,NaN,0.714286,"[[, 0, ,, , 0, ., 0, ,, , 0, ., 8, 3, 3, 3, ...",Momentum,189,NaN,0.0
1590,Momentum,U_9,0.05,0.0,0.0,NaN,0.495238,"[[, 0, ., 3, 4, 6, 1, 5, 3, 8, 4, 6, 1, 5, 3, ...",Momentum,190,NaN,0.0
1591,Momentum,U_9,0.10,0.0,0.0,NaN,0.494949,"[[, 0, ., 3, 8, 4, 6, 1, 5, 3, 8, 4, 6, 1, 5, ...",Momentum,191,NaN,0.0
1592,Momentum,U_9,0.20,0.0,0.0,NaN,0.454545,"[[, 0, ., 5, 2, 1, 7, 3, 9, 1, 3, 0, 4, 3, 4, ...",Momentum,192,NaN,0.0
1593,Momentum,U_9,0.30,0.0,0.0,NaN,0.428571,"[[, 0, ., 4, ,, , 0, ., 4, 4, 4, 4, 4, 4, 4, ...",Momentum,193,NaN,0.0
1594,Momentum,U_9,0.40,0.0,0.0,NaN,0.409091,"[[, 0, ., 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",Momentum,194,NaN,0.0
1595,Momentum,U_9,0.50,0.0,0.0,NaN,0.425926,"[[, 0, ., 3, 8, 4, 6, 1, 5, 3, 8, 4, 6, 1, 5, ...",Momentum,195,NaN,0.0
1596,Momentum,U_9,0.60,0.0,0.0,NaN,0.534884,"[[, 0, ., 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, ...",Momentum,196,NaN,0.0
1597,Momentum,U_9,0.70,0.0,0.0,NaN,0.500000,"[[, 0, ., 5, ,, , 0, ., 4, 6, 1, 5, 3, 8, 4, ...",Momentum,197,NaN,0.0
1598,Momentum,U_9,0.80,0.0,0.0,NaN,0.523810,"[[, 0, ., 6, ,, , 0, ., 2, 5, ,, , 0, ., 7, ...",Momentum,198,NaN,0.0
1599,Momentum,U_9,0.90,0.0,0.0,NaN,0.700000,"[[, 0, ,, , 0, ., 5, ,, , 0, ., 8, 3, 3, 3, ...",Momentum,199,NaN,0.0

In [11]:
df_combined.to_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/experiments-master.csv", index=False)