In [173]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [174]:
df_ac = pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/VizRec/Actor_Critic.csv")
df_greedy=pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/VizRec/Greedy.csv")
df_sarsa=pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/VizRec/SARSA.csv")
df_qlearn=pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/VizRec/QLearn.csv")
df_reinforce=pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/VizRec/Reinforce.csv")
df_naive=pd.read_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/VizRec/Naive.csv")
df_random=pd.read_csv('/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/VizRec/Random.csv')

In [175]:
df_qlearn

,Algorithm,User,Threshold,LearningRate,Discount,Temperature,Accuracy,StateAccuracy,Reward,Epsilon
0,QLearn,pro13_ace_p4,0.05,0.0100,0.50,0,0.403509,0,1.008696,0.50
1,QLearn,pro13_ace_p4,0.10,0.0010,0.80,0,0.425926,0,1.009174,0.50
2,QLearn,pro13_ace_p4,0.20,0.0010,0.80,0,0.716667,0,1.010309,0.10
3,QLearn,pro13_ace_p4,0.30,0.0001,0.05,0,0.671429,0,1.011765,0.10
4,QLearn,pro13_ace_p4,0.40,0.0001,0.10,0,0.827778,0,1.013699,0.01
...,...,...,...,...,...,...,...,...,...,...
355,QLearn,stu3_acf_p4,0.50,0.0010,0.05,0,0.707071,0,1.005025,0.05
356,QLearn,stu3_acf_p4,0.60,0.0001,0.05,0,0.744304,0,1.006289,0.01
357,QLearn,stu3_acf_p4,0.70,0.0010,0.05,0,0.696667,0,1.008264,0.10
358,QLearn,stu3_acf_p4,0.80,0.0001,0.10,0,0.730000,0,1.012346,0.05
359,QLearn,stu3_acf_p4,0.90,0.1000,0.05,0,0.650000,0,1.024390,0.01

In [176]:
# Add a new column to each dataframe with the name of the dataframe
df_ac['Algo'] = 'ActorCritic'
df_greedy['Algo'] = 'Greedy'
df_sarsa['Algo'] = 'SARSA'
df_qlearn['Algo'] = 'QLearn'
df_reinforce['Algo'] = 'Reinforce'
df_naive['Algo'] = 'Naive'
df_random['Algo'] = 'Random'


# Add a new column to each dataframe to keep track of the original index
df_ac['original_dataframe_index'] = range(len(df_ac))
df_greedy['original_dataframe_index'] = range(len(df_greedy))
df_sarsa['original_dataframe_index'] = range(len(df_sarsa))
df_qlearn['original_dataframe_index'] = range(len(df_qlearn))
df_reinforce['original_dataframe_index'] = range(len(df_qlearn))
df_naive['original_dataframe_index'] = range(len(df_naive))
df_random['original_dataframe_index'] = range(len(df_random))
#df_tamerq['original_dataframe_index'] = range(len(df_tamerq))

# Combine the dataframes into one
df_combined = pd.concat([df_ac, df_greedy, df_sarsa, df_qlearn,df_reinforce,df_naive,df_random])

# Reset the index of the combined dataframe
df_combined = df_combined.reset_index(drop=True)

In [177]:
df_combined.tail(20)

,Algorithm,User,Threshold,LearningRate,Discount,Temperature,Accuracy,StateAccuracy,Reward,Epsilon,Algo,original_dataframe_index
2500,Random,stu6_acf_p4,0.05,NaN,NaN,NaN,0.111111,0,NaN,NaN,Random,340
2501,Random,stu6_acf_p4,0.10,NaN,NaN,NaN,0.133333,0,NaN,NaN,Random,341
2502,Random,stu6_acf_p4,0.20,NaN,NaN,NaN,0.104082,0,NaN,NaN,Random,342
2503,Random,stu6_acf_p4,0.30,NaN,NaN,NaN,0.132558,0,NaN,NaN,Random,343
2504,Random,stu6_acf_p4,0.40,NaN,NaN,NaN,0.126027,0,NaN,NaN,Random,344
2505,Random,stu6_acf_p4,0.50,NaN,NaN,NaN,0.108197,0,NaN,NaN,Random,345
2506,Random,stu6_acf_p4,0.60,NaN,NaN,NaN,0.116667,0,NaN,NaN,Random,346
2507,Random,stu6_acf_p4,0.70,NaN,NaN,NaN,0.127778,0,NaN,NaN,Random,347
2508,Random,stu6_acf_p4,0.80,NaN,NaN,NaN,0.113043,0,NaN,NaN,Random,348
2509,Random,stu6_acf_p4,0.90,NaN,NaN,NaN,0.090909,0,NaN,NaN,Random,349
2510,Random,stu7_ade_p4,0.05,NaN,NaN,NaN,0.132000,0,NaN,NaN,Random,350
2511,Random,stu7_ade_p4,0.10,NaN,NaN,NaN,0.105263,0,NaN,NaN,Random,351
2512,Random,stu7_ade_p4,0.20,NaN,NaN,NaN,0.114286,0,NaN,NaN,Random,352
2513,Random,stu7_ade_p4,0.30,NaN,NaN,NaN,0.126027,0,NaN,NaN,Random,353
2514,Random,stu7_ade_p4,0.40,NaN,NaN,NaN,0.111111,0,NaN,NaN,Random,354
2515,Random,stu7_ade_p4,0.50,NaN,NaN,NaN,0.138462,0,NaN,NaN,Random,355
2516,Random,stu7_ade_p4,0.60,NaN,NaN,NaN,0.146341,0,NaN,NaN,Random,356
2517,Random,stu7_ade_p4,0.70,NaN,NaN,NaN,0.083871,0,NaN,NaN,Random,357
2518,Random,stu7_ade_p4,0.80,NaN,NaN,NaN,0.120000,0,NaN,NaN,Random,358
2519,Random,stu7_ade_p4,0.90,NaN,NaN,NaN,0.133333,0,NaN,NaN,Random,359

In [178]:
def update_array_column(arr):
    return np.where(arr == 0, 1, arr)

In [179]:

df_combined['StateAccuracy'] = df_combined['StateAccuracy'].apply(lambda arr: [1 if x == 0 else x for x in arr])

TypeError: 'int' object is not iterable

In [180]:
df_combined.tail(20)

,Algorithm,User,Threshold,LearningRate,Discount,Temperature,Accuracy,StateAccuracy,Reward,Epsilon,Algo,original_dataframe_index
2500,Random,stu6_acf_p4,0.05,NaN,NaN,NaN,0.111111,0,NaN,NaN,Random,340
2501,Random,stu6_acf_p4,0.10,NaN,NaN,NaN,0.133333,0,NaN,NaN,Random,341
2502,Random,stu6_acf_p4,0.20,NaN,NaN,NaN,0.104082,0,NaN,NaN,Random,342
2503,Random,stu6_acf_p4,0.30,NaN,NaN,NaN,0.132558,0,NaN,NaN,Random,343
2504,Random,stu6_acf_p4,0.40,NaN,NaN,NaN,0.126027,0,NaN,NaN,Random,344
2505,Random,stu6_acf_p4,0.50,NaN,NaN,NaN,0.108197,0,NaN,NaN,Random,345
2506,Random,stu6_acf_p4,0.60,NaN,NaN,NaN,0.116667,0,NaN,NaN,Random,346
2507,Random,stu6_acf_p4,0.70,NaN,NaN,NaN,0.127778,0,NaN,NaN,Random,347
2508,Random,stu6_acf_p4,0.80,NaN,NaN,NaN,0.113043,0,NaN,NaN,Random,348
2509,Random,stu6_acf_p4,0.90,NaN,NaN,NaN,0.090909,0,NaN,NaN,Random,349
2510,Random,stu7_ade_p4,0.05,NaN,NaN,NaN,0.132000,0,NaN,NaN,Random,350
2511,Random,stu7_ade_p4,0.10,NaN,NaN,NaN,0.105263,0,NaN,NaN,Random,351
2512,Random,stu7_ade_p4,0.20,NaN,NaN,NaN,0.114286,0,NaN,NaN,Random,352
2513,Random,stu7_ade_p4,0.30,NaN,NaN,NaN,0.126027,0,NaN,NaN,Random,353
2514,Random,stu7_ade_p4,0.40,NaN,NaN,NaN,0.111111,0,NaN,NaN,Random,354
2515,Random,stu7_ade_p4,0.50,NaN,NaN,NaN,0.138462,0,NaN,NaN,Random,355
2516,Random,stu7_ade_p4,0.60,NaN,NaN,NaN,0.146341,0,NaN,NaN,Random,356
2517,Random,stu7_ade_p4,0.70,NaN,NaN,NaN,0.083871,0,NaN,NaN,Random,357
2518,Random,stu7_ade_p4,0.80,NaN,NaN,NaN,0.120000,0,NaN,NaN,Random,358
2519,Random,stu7_ade_p4,0.90,NaN,NaN,NaN,0.133333,0,NaN,NaN,Random,359

In [181]:
df_combined.to_csv("/Users/aryal/Desktop/ForeCache/foreCache-interaction/ForeCache_Models/Experiments_Folder/viz-rec-experiments-master.csv", index=False)